<h1>PhotoSite User List</h1>
<br/>
<h4>There are <%= @user.count %> Users</h4>

<table class="table table-bordered table-striped table-hover">
<thead>
    <tr>
        <th>User</th>
        <th>First</th>
        <th>Last</th>
    </tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
    <tr>
        <td><%= link_to user.id, user_photos_path(user.id) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>